<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angular 可输入可选择的下拉框 demo</title>
    <script src="angular.js"></script>
    <style>
        .value-list {

        }

        .open {
            overflow: auto;
        }

        .closed {
            overflow: hidden;
        }
    </style>
</head>
<body ng-app="App" ng-controller="myCtrl">
    <div>
        <label for="">组别:</label>
        <!-- <select ng-init="请选择组别" ng-model="groupId" ng-options="x.groupId as x.name for x in groupsList"> -->
        <select ng-model="groupId" ng-change="getAdviserListByGroupId(groupId)">
            <option value="-1" ng-selected="groupId == -1">请选择组别</option>
            <option ng-repeat="x in groupsList" ng-selected="groupId == x.groupId" value="{{x.groupId}}">{{x.name}}</option>
        </select>
    </div>{{groupId}}
    <div>
        <label for="">顾问：</label>
        <select class="value-list" ng-model="adviserId" ng-change="getAdviserByName(adviserId)" style="width: 106px;">
            <option value="-1">请选择顾问</option>
            <option ng-repeat="x in advisersList" value="{{x.id}}">{{x.nickname}}</option>
        </select>
        <input id="searchInput" ng-model="nickname" ng-keyup="searchAdviserByValue(nickname)" type="text" placeholder="请选择顾问" style="width: 90px; position: absolute;">
    </div>

    <script>
        var app = angular.module('App', []);
        app.controller('myCtrl', ['$scope', function ($scope) {
            $scope.groupsList = [
                {
                    "groupId":100062,
                    "name":"专-华北北京组1队",
                    "sysUserList":[
                        {
                        "id":34324289,
                        "imtoken":"bade190f3c6f9a185b516f3e3798a00c",
                        "imtokenId":"e956e33526f54d2f9587879ca9ea4b15",
                        "nickname":"测试",
                        "realname":"测试"
                        }
                    ],
                    "upperGroupId":100061
                },{
                    "groupId":100059,
                    "name":"商-华北北京组1队",
                    "sysUserList":[
                        {
                        "id":34324287,
                        "imtoken":"5dd5d40549d0dece6dcfdae91e6aa700",
                        "imtokenId":"32b57ef1bb134c11967a219caf8a16f4",
                        "nickname":"冻梨",
                        "realname":"冻梨"
                        },{
                        "id":34324318,
                        "imtoken":"34d5b6a8ecd61480a0b1db5f3c3036c5",
                        "imtokenId":"280febd876ec4dbc9fa503571be4c4a5",
                        "nickname":"黑枣",
                        "realname":"黑枣"
                        }
                    ],
                    "upperGroupId":100058
                }
            ];
            $scope.advisersList = [
                {
                    "id":34324289,
                    "imtoken":"bade190f3c6f9a185b516f3e3798a00c",
                    "imtokenId":"e956e33526f54d2f9587879ca9ea4b15",
                    "nickname":"测试",
                    "realname":"测试"
                },{
                    "id":34324287,
                    "imtoken":"5dd5d40549d0dece6dcfdae91e6aa700",
                    "imtokenId":"32b57ef1bb134c11967a219caf8a16f4",
                    "nickname":"冻梨",
                    "realname":"冻梨"
                },{
                    "id":34324318,
                    "imtoken":"34d5b6a8ecd61480a0b1db5f3c3036c5",
                    "imtokenId":"280febd876ec4dbc9fa503571be4c4a5",
                    "nickname":"黑枣",
                    "realname":"黑枣"
                }
            ];
            $scope.groupId = "-1";
            $scope.adviserId = "-1";
            $scope.nickname = "";

            $scope.getAdviserListByGroupId = function(groupId){
                $scope.advisersList = [];
                if (groupId == undefined || groupId == null || groupId == '-1') {
                    // 遍历存放所有的顾问
                    for (var i = 0; i < $scope.groupsList.length; i++) {
                        for(var j=0; j < $scope.groupsList[i].sysUserList.length; j++){
                            $scope.advisersList.push($scope.groupsList[i].sysUserList[j]);
                        }
                    }
                    // 重新设置顾问选中默认
                    $scope.adviserId = "-1";
                    return;
                }
                // 遍历存放相同组名下的顾问
                for (var i = 0; i < $scope.groupsList.length; i++) {
                    if($scope.groupsList[i].groupId == groupId){
                        for(var j=0; j < $scope.groupsList[i].sysUserList.length; j++){
                            $scope.advisersList.push($scope.groupsList[i].sysUserList[j]);
                        }
                        // 重新设置顾问选中默认
                        $scope.adviserId = "-1";
                    }
                }
            };

            $scope.getAdviserByName = function(adviserId){
                if (adviserId == undefined || adviserId == null || adviserId == '-1') {
                    // 重新设置顾问选中默认
                    $scope.adviserId = "-1";
                    return;
                }
                for (var i = 0; i < $scope.groupsList.length; i++) {
                    for(var j=0; j < $scope.groupsList[i].sysUserList.length; j++){
                        if($scope.groupsList[i].sysUserList[j].id == adviserId && 
                           $scope.groupId != $scope.groupsList[i].groupId){
                            $scope.groupId = $scope.groupsList[i].groupId;
                        }
                    }
                }
            };

            $scope.searchAdviserByValue = function(value){
                if(value.length >= 2){
                    console.log("value: "+value);

                }
            };
        }]);
    </script>
</body>
</html>
